h1{
    background-color: black;
    text-align: left;
    color: white;
    font-family: "Lucida Console", monospace;

}

span{
    background-color: black;
    color:  cyan;
}

h2{
    background-color: purple;
    text-align: center;
    color: white;
    font-style: italic;
}

h3{
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
    font-family: "Monaco", monospace;
}